<!-- Outreach Modals -->
{% assign outreach_list = site.outreach | sort: site.outreach.date | reverse %}
{% for event in outreach_list %}
  <div class="outreach-modal modal fade" id="q{{ forloop.index }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text">{{ event.title }}</h2>
                <p class="item-intro text-muted">{{ event.subtitle }}</p>
                <div class="modal-body" style="text-align:left;">
                  <img class="img-fluid d-block mx-auto" src="{{ event.image }}" alt="{{ event.alt }}">
                  {% if event.image_caption %}
                  <p class="image-caption">{{ event.image_caption }}</p>
                  {% endif %}
                  <div>{{ event.content | markdownify}}</div>
                </div>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
<!-- End Modals for Outreach -->
