<!-- Research Modals -->

{% assign research_list = site.research | sort: site.research.date | reverse %}
{% for project in research_list %}
  <div class="research-modal modal fade" id="p{{ forloop.index }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text">{{ project.title }}</h2>
                <p class="item-intro text-muted">{{ project.subtitle }}</p>
                <div class="modal-body" style="text-align:left;">
                  <img class="img-fluid d-block mx-auto" src="{{ project.image }}" alt="{{ project.alt }}">
                  {% if project.image_caption %}
                  <p class="image-caption">{{ project.image_caption }}</p>
                  {% endif %}
    			        <div>{{ project.content | markdownify}}</div>
                </div>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close Project</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
<!-- End Modals for Research -->
