<!-- News -->
  <section class="page-section" id="{{ site.data.sitetext.news.section | default: "news" }}">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">{{ site.data.sitetext.news.title | default: "News" }}</h2>
        </div>
      </div>

      <!-- the table/table cell,etc are all to center the content on mobile-->
      </br>
      <div class="row" style="justify-content: center;">
        <div class="twitterborder">
          <div class="table">
            <div class="table-cell">
              <a class="twitter-timeline tw-align-center"  data-height="600"  href="https://twitter.com/ExhArcticOcean">Tweets by CRIOS</a> 
                 <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
             </div>
           </div>
         </div>
       </div>
    </div>
  </section>
<!-- End News -->
