<!-- Videos -->
  <section class="page-section" id="{{ site.data.sitetext.videos.section | default: "videos" }}">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">{{ site.data.sitetext.videos.title | default: "Videos" }}</h2>
        </div>
      </div>

      <div class="videos" data-filter-tag="">
        <div class="dropdown tags">
          <span>Filter videos: </span>
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span>All</span> <span>({{ site.videos | where: "visible", true | size }})</span>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <button class="dropdown-item active" type="button" data-filter-tag=""><span>All</span> <span>({{ site.videos | where: "visible", true | size }})</span></button>
            {% for tag in site.data.sitetext.videos.tags %}
            <button class="dropdown-item" type="button" data-filter-tag="{{ tag.value }}"><span>{{ tag.name }}</span> <span>({{ site.videos | where: "visible", true | where_exp: "item", "item.tags contains tag.value" | size }})</span></button>
            {% endfor %}
          </div>
        </div>
        {% assign videos_list = site.videos | where: "visible", true | sort: site.videos.date | reverse %}
        {% for entry in videos_list %}
        <div class="video" data-tags="{{ entry.tags | join: " " }}">
          <h3 class="sr-only">{{ entry.title }}</h3>
          {% video entry.video entry.image entry.alt entry.ratio %}
          <div class="video--description">
            {{ entry.content }}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <style>
    {% for tag in site.data.sitetext.videos.tags %}
    .videos[data-filter-tag="{{ tag.value }}"] .video:not([data-tags ~= "{{ tag.value }}"]) {display: none;}
    {% endfor %}
  </style>
<!-- End Videos -->
