// Styling for the masthead
header.masthead {
  text-align: center;
  color: white;
  //background-image: url("#{$header-image}");
  background-color: black;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  position: relative;
  padding-bottom: 56.25%;


  .intro-text {
    padding-top: 150px;
    padding-bottom: 100px;
    .intro-lead-in {
      font-size: 24px;
      line-height: 22px;
      margin-bottom: 25px;
      @include body-font;
    }
    .intro-heading {
      font-size: 50px;
      font-weight: 700;
      line-height: 50px;
      margin-bottom: 25px;
      @include heading-font;
    }
  }

  video {
    width: 100%;
    height: auto;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }

  video + .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }
}

// show masthead text if video cannot be started by js
.no-js header.masthead video + .container {
  opacity: 1;
}

@media (prefers-reduced-motion) {
  header.masthead video + .container {
    opacity: 1;
  }
}

// start animation for masthead text fade-in
header.masthead.play-video video + .container {
  animation: title-fade-in 10s linear;
  animation-fill-mode: forwards;
}

@media(min-width:768px) {
  header.masthead {
    .intro-text {
      padding-top: 300px;
      padding-bottom: 200px;
      .intro-lead-in {
        font-size: 45px;
        font-weight: 400;
        line-height: 40px;
        margin-bottom: 25px;
        @include body-font;
      }
      .intro-heading {
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 50px;
        @include heading-font;
      }
    }
  }
}

@media (max-width: 991px) {
  .navbar.fixed-top + header.masthead {
    margin-top: 56px; 
  }
}


@keyframes title-fade-in {
  0% {
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}