section#news {
  @include body-font;

  .blog {
    width: 80%;
  }

  .news-row {
    display: flex;
  }

  .twitterborder {
    width: 50%;
    float: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
  .left75 {
    float: left;
    width: 75%;
    padding: 10px;
  }
  .right23 {
    float: left;
    width: 23%;
    padding: 10px;
    display: flex;
    text-align: center;
  }

    .table{
      display:table;
      height: 100%;
      width: 100%;
}
    .table-cell{
      display:table-cell;
      vertical-align: middle;
}


  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  @media only screen and (max-width: 600px) {
  
    .left75 {
      width: 100%;
    }
    .right23 {
      width: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .table{
      display:table;
      height: 100%;
      width: 100%;
}
    .table-cell{
      display:table-cell;
      vertical-align: middle;
}
    .blog {
      width: 100%;
    }

    .news-row {
      display: block;
    }

    .twitterborder {
      width: 100%;
      float: center;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
}

.blog-entry--meta {
  font-size: 0.9em;

  .author:not(:empty) {
    border-left: 1px solid #999;
    padding-left: 0.4em;
  }
}

// an entry that follows a previous entry element
.blog-entry + .blog-entry {
  margin-top: 3em;
}