// Styling for the team section
.left {
    //float: left;
  margin-bottom: 50px;
  height:25px;
  width:20%;
  img {
    width:80%;
    border: 7px solid fade-out($black, 0.9);
  }

}
.right {
    //float: left;
  margin-bottom: 50px;
  width:75%;
  p {
      margin-top: 0;
  }
}
