// Styling for the research section
section#research {
  .research-item {
    display: flex;
    @media (max-width:767px){
      flex-wrap:wrap
    }
    width: 100%;
    right: 0;
    margin: 0 0 60px;
    //border: 1px solid $primary;
    padding: 10px;
    background: mix($primary, white, 10%);

    img{
      width:auto;
      height: 200px;
    }
   
      .text{
        flex-grow:1;
      }
    
    @media (min-width:768px){
      .text{
      margin-left: 15px
      }
    &:nth-child(2n+1){
    text-align: right;  
    }
     &:nth-child(2n){
      img{
        order:1
      }
       .text{
         order:0;
           margin-left:0;
           margin-right: 15px;
         }
      }
    }
    .research-link {
      position: relative;
      display: block;
      max-width: 400px;
      margin: 0 auto;
      cursor: pointer;
      .research-hover {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-transition: all ease 0.5s;
        -moz-transition: all ease 0.5s;
        transition: all ease 0.5s;
        opacity: 0;
        background: fade-out($primary, .1);
        &:hover {
          opacity: 1;
        }
        .research-hover-content {
          font-size: 20px;
          position: absolute;
          top: 50%;
          width: 100%;
          height: 20px;
          margin-top: -12px;
          text-align: center;
          color: white;
          i {
            margin-top: -12px;
          }
          h3,
          h4 {
            margin: 0;
          }
        }
      }
    }
    .research-caption {
      max-width: 400px;
      margin: 0 auto;
      padding: 25px;
      text-align: center;
      background-color: $white;
      h4 {
        margin: 0;
        text-transform: none;
      }
      p {
        font-size: 16px;
        margin: 0;
        @include body-font;
      }
    }
  }
  * {
    z-index: 2;
  }
}
@media(min-width:767px) {
  #research {
    .research-item {
      margin: 0 0 30px;
    }
  }
}

.research-modal {
  .modal-dialog {
    margin: 1rem;
    max-width: 100vw;
  }
  .modal-content {
    padding: 100px 0;
    text-align: center;
    h2 {
      font-size: 3em;
      margin-bottom: 15px;
    }
    p {
      margin-bottom: 30px;
    }
    p.item-intro {
      font-size: 16px;
      margin: 20px 0 30px;
      @include body-font;
    }
    ul.list-inline {
      margin-top: 0;
      margin-bottom: 30px;
    }
    img {
      margin-bottom: 30px;
    }
    button {
      cursor: pointer;
    }
  }
  .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    cursor: pointer;
    background-color: transparent;
    &:hover {
      opacity: 0.3;
    }
    .lr {
      /* Safari and Chrome */
      z-index: 1051;
      width: 1px;
      height: 75px;
      margin-left: 35px;
      /* IE 9 */
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      background-color: $gray-900;
      .rl {
        /* Safari and Chrome */
        z-index: 1052;
        width: 1px;
        height: 75px;
        /* IE 9 */
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        background-color: $gray-900;
      }
    }
  }
}
