// Global styling for this template
body {
  overflow-x: hidden;
  @include body-font;
}

p {
  line-height: 1.75;
  font-weight: 300
}

a {
  color: $primary;
  &:hover {
    color: darken($primary, 10%);
  }
}
p a {
  color:currentColor;
  border-bottom: 1.5px solid indianred;
  &:hover {
    color: indianred;
    text-decoration:none
    
  }
}

.text-primary {
  color: $primary !important;
}


h1,
h2 { 
    font-weight: 600;
    @include heading-font;
}
h3,
h4 { 
  font-weight: 400;
  @include heading-font;
}
h5,
h6 {
  font-weight: 700;
  @include heading-font;
}

.page-section {
  padding: 100px 0;
  h2.section-heading {
    color: #212529;
    font-size: 40px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 60px;
  }
  h3.section-subheading {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 75px;
    text-transform: none;
    @include body-font;
  }
}
@media(min-width:768px) {
  section {
    padding: 150px 0;
  }
}

// Highlight color customization
::-moz-selection {
  background: $primary;
  text-shadow: none;
}

::selection {
  background: $primary;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

.intro {
  font-size: 1.1em;
  text-align: center;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px
}